img {
  min-width: 50px;
  max-width: 200px;
  min-height: 50px;
  max-height: 200px;
  margin: 0;
  border-radius: 5%;
  border-style: groove;
  border-width: 2px;
  border-color: black;
}
.grid {
  display: grid;
}
