img {
  min-height: 200px;
  max-height: 200px;
  margin: 0;
  border-radius: 5%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(109, 101, 101);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}
